<!DOCTYPE html>

<html>

<head>
  <title>About</title>
  <link rel='icon' href="/img/weather.png" />
  <link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
  <div class="main-content">
    {{>header}}
    <h3>{{name}}</h3>
    <img src='img/waterbubble.jpg' class="portrait">

  </div>
  {{>footer}}
</body>

</html>